$mainColor : #81d9ff;


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200
}
  

  .fixed-top {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 10px solid $mainColor;}

    .navbar-brand {
        color: $mainColor;
        font-weight: bold;
    }

    .navbar-brand:hover{
      color: $mainColor;
    }

  .menu a {
    color: black;
    border-bottom: 4px solid white; }
  
  .menu a .active {
    border-bottom: 4px solid $mainColor; }
  
  .menu a:hover {
    border-bottom: 4px solid $mainColor; }
  
  .navbar-nav .nav-link {
    font-size: 18px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 8px;
    margin-left: 8px; }
  

  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-text-div{
    margin-top: 120px;
    position: relative;
  }

  .image-text {
    color: $mainColor;
    text-align: left;
    padding: 10px;
    position: absolute;
    top: 50%;
    /*left: 10%;*/
    transform: translate(0%, -50%);

    .h1-image-text span{
      font-size: 3vw;
      display: block;
      background-color: white;
      width: fit-content;
      margin-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

    .top-margin{
      margin-top: 200px;
    } 

    @media screen and (max-width: 1100px) {
    .img-responsive {
      width: 70px; 
    }
  }

  @media screen and (max-width: 400px) {
    .image-text .h1-image-text span {
    margin-bottom: 3px;
}
    .navbar-brand{
      font-size: 12px !important;
    }
  }

  @media screen and (max-width: 575px) {
    .footer .navbar {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 750px) {
    .navbar-brand {
      width: 100px; }
    .top-margin{
      margin-top: 140px;
    }
 
  }


  .description{
    font-size: 16px;

    p{
      margin-bottom: 0px;
    }
  }
  .main-jumbotron{
    font-size: 28px;
  }
  
  .modal {
    text-align:center;
  }
  .modal-dialog {
      display: inline-block;
      width: auto;
  }
  .img-responsive {
      max-height: calc(100vh - 225px);
  }

  .about-o2{
    font-weight: bold;
    text-decoration: underline;
    color: $mainColor;
  }

  .footer{
    border-top: 15px solid $mainColor;
    background-color: #313336;
    margin-top: 100px;

    .nav-link{
      color: white;
      text-align: center;
    }
    .nav-link:hover{
      color: $mainColor;
    }
  }

  .info-ul{
    list-style-type: none;
    padding: 0px;
  }

  .social{
    font-size: 25px;
    color: blue;
  }

  #map{
    width: 100%;
    height: 300px;
  }

  .insta{
    font-size: 25px;
    color: black;
  }

  .insta-icon a{
    text-decoration: none;
    color: black;
  }
  .insta:hover{
    color: gray;
  }

  
  .blue-text{
    color: blue;
  }
  .heading{
    color: $mainColor;
    font-weight: bold;
  }
  .contact{
    font-style: italic;
    font-weight: bold;
    color: $mainColor;
  }

  .jumbotron div {
    margin-bottom: 20px;
  }
  